@import "tailwindcss";

body {
  font-family: 'Fira Code', monospace;
  background-color: #282C33;
  color: #ABB2BF;
  scroll-behavior: smooth;
}

.text-primary {
  color: #C778DD;
}

.bg-primary {
  background-color: #C778DD;
}

.border-primary {
  border-color: #C778DD;
}

.text-white {
  color: #FFFFFF;
}

.text-gray {
  color: #ABB2BF;
}

/* Custom selection color */
::selection {
  background: #C778DD;
  color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #282C33;
}

::-webkit-scrollbar-thumb {
  background: #ABB2BF;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #C778DD;
}